# .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
.vs/
.vscode/
*.dbmdl
*.jfm

# Dependencies
packages/
node_modules/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Docker
.env
.env.*
!.env.example

# IDE
.idea/
*.sln.iml
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Operating System
.DS_Store
Thumbs.db

# Project specific
docker/data/
logs/
dist/
research/
docker/server/